<div class="container" ng-Controller="BlogController">




<form>
 <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>Add blog</h4>
            <input type="text" id="name"  ng-model="blog.blogName" class="form-control input-sm chat-input" placeholder="Blog Name" />
            </br>
            <input type="text" style="height: 2cm;" id="content" ng-model="blog.blogContent" class="form-control input-sm chat-input" placeholder="Blog Content" />
            </br>
            <div class="wrapper">
            <span class="group-btn">     
                
            <button type="button" ng-click="insertBlog()" class="btn btn-lg btn-info">Insert</button>
            </span>
            </div>
            </div>
        
        </div>
    </div>
</form>
</div>
