<div class="container" ng-Controller="BlogController">

 <h1 class="well"><center><font face="Monotype Corsiva">Blog Detail</font></center></h1>
  
  <div ng-repeat="blog in allBlogData">
  
  <div ng-show="currentUser.loginName==blog.loginName">
  		<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{blog.blogId}}">{{blog.blogName}}</button>
		
		<div class="collapse">
    			{{blog.blogContent}}
  		</div>
		
		<button type="button" class="btn btn-danger" ng-click="deleteBlog(blog.blogId)">Delete</button>
		
  		
  </div>
  <br><br>
  </div>
  
  
</div>