<div class="container" ng-Controller="UserController">


<form>
 <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>Registration</h4>
            <input type="text" id="loginName"  ng-model="User.loginName" class="form-control input-sm chat-input" placeholder="Login Name" />
            </br>
            <input type="text" id="password" ng-model="User.password" class="form-control input-sm chat-input" placeholder="password" />
            </br>
              <input type="text" id="address" ng-model="User.address" class="form-control input-sm chat-input" placeholder="Address" />
            </br>
              <input type="text" id="name" ng-model="User.name" class="form-control input-sm chat-input" placeholder="password" />
            </br>
              <input type="text" id="mobile" ng-model="User.mobile" class="form-control input-sm chat-input" placeholder="password" />
            </br>
              <input type="text" id="email" ng-model="User.email" class="form-control input-sm chat-input" placeholder="password" />
            </br>
            
            
            
            <div class="wrapper">
            <span class="group-btn">     
                
            <button type="button" ng-click="register()" class="btn btn-lg btn-info">Register<i class="fa fa-sign-in"></i></button>
            </span>
            </div>
            </div>
        
        </div>
    </div>









</form>




</div>