<div class="container"  style="align-self: center;"       ng-Controller="forumController">

<h1 class="well"><center><font face="Monotype Corsiva">Admin forums</font></center></h1>
  <br>
  
  
  
  <div  ng-repeat="forum in listForumData">
 
  &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{forum.forumId}}" style="width: 10%;" ><h4>{{forum.forumName}}</h4></button>&nbsp;&nbsp;&nbsp;&nbsp;
  
  
 
  
  {{forum.likes}}&nbsp;&nbsp;&nbsp;&nbsp;
	<button ng-show="forum.status=='NA'" class="btn btn-info" ng-click="approveForum(forum.forumId)">Approve</button>&nbsp;&nbsp;&nbsp;&nbsp;
		<button ng-show="forum.status=='A'"  class="btn btn-info" ng-click="rejectForum(forum.forumId)">Reject</button>

  
  
  
  <br><br>
  
    </div>
  </div>
