<div class="container" ng-Controller="forumController">

<form>
 <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>Add Forum</h4>
            <input type="text" id="name"  ng-model="forum.forumName" class="form-control input-sm chat-input" placeholder="Forum Name" />
            </br>
            <input type="text" style="height: 2cm;" id="content" ng-model="forum.forumContent" class="form-control input-sm chat-input" placeholder="Forum Content" />
            </br>
            <div class="wrapper">
            <span class="group-btn">     
                
            <button type="button" ng-click="insertForum()" class="btn btn-lg btn-info">Insert</button>
            </span>
            </div>
            </div>
        
        </div>
    </div>
</form>

</div>