<div class="container" ng-Controller="forumController">

 <h1 class="well"><center><font face="Monotype Corsiva">Forum Detail</font></center></h1>
  <br>
  
  
  
  <div  ng-repeat="forum in listForumData">
 
  &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{forum.forumId}}" style="width: 10%;" ><h4>{{forum.forumName}}</h4></button>&nbsp;&nbsp;&nbsp;&nbsp;
  

  
  
  
  {{forum.likes}}&nbsp;&nbsp;&nbsp;&nbsp;
  
  	<button class="btn btn-info" ng-show="forum.status=='A'" ng-click="incLikes(forum.forumId)">Likes</button>
  
  <br><br>
  
    </div>
  </div>