<div class="container" ng-Controller="FriendController">

	<h1 class="well">
		<center>
			<font face="Monotype Corsiva">Pending Requests</font>
		</center>
	</h1>

	<table class="table">
		<tr>
			<td>Friend id</td>
			<td>Friend Name</td>
			<td></td>
			<td></td>
		</tr>
		<br>
		<tr ng-repeat="friend in showPendingFriendRequest">
			<td>{{friend.friendId}}</td>
			<td>{{friend.loginName}}</td>
	<td><button class="btn btn-info" ng-click="acceptFriendRequest(friend.friendId)">Accept request</button></td>
	<td><button class="btn btn-info" ng-click="unfriend(friend.friendId)">Delete request</button></td>
		
		</tr>

	</table>





</div>