<div class="container" ng-Controller="FriendController">

	<h1 class="well">
		<center>
			<font face="Monotype Corsiva">Friend list</font>
		</center>
	</h1>

	<table class="table">
		<tr>
			<td>Serial </td>
			<td>Friend Name</td>
		</tr>
		<br>
		<tr ng-repeat="friend in showFriendList">
			<td></td>
			<td>{{friend.friendLoginName}}</td>
			<td><button class="btn btn-info" ng-click="unfriend(friend.friendId)">Remove Friend</button>   </td>
		</tr>

	</table>





</div>